body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#whole{
    border: 2px solid black;
    padding:10px;
}
#touch{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
#display{
  margin-bottom: 5px;
}
